.jumbotron {
    background-image: url(img/fundo.jpg );
    background-size: cover;
    height: 60vh;
    z-index: -1;
}

li {
    list-style: none;
}

.box-1 {
    margin-top: 9rem;
    background: #7c4cf6;
    height: 63.5vh;
    color: #fff;
}

.box-2 {
    background: #fffafa;
    height: 63.5vh;
    color: black;
    box-shadow: 300px black solid;
}